<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/admin/include/admin_common.css}" />
  <link rel="stylesheet" th:href="@{/css/admin/include/admin_header.css}" />
  <link rel="stylesheet" th:href="@{/css/admin/include/admin_footer.css}" />
  <link rel="stylesheet" th:href="@{/css/admin/include/admin_sidebar.css}" />
  <link rel="stylesheet" th:href="@{/css/my/modal.css}"/>
  <script type="text/javascript" th:src="@{/js/admin/sidebar.js}"></script>
  <script type="text/javascript" th:src="@{/js/modal/modal.js}"></script>
</head>
<body>

<!-- header -->
<th:block th:replace="~{admin/include/admin_header::admin_header}"></th:block>
<main>
  <!-- sidebar -->
  <th:block th:replace="~{admin/include/admin_sidebar::admin_sidebar}"></th:block>

  <!-- content -->
  <th:block th:switch="${group}">


  </th:block>
</main>
<!-- footer -->
<th:block th:replace="~{admin/include/admin_footer::admin_footer}"></th:block>
</body>

</html>