<!--
    날짜 : 2024/10/21
    이름 : 김소희
    내용 : 다운로드한 쿠폰

    수정이력
    - 2024/11/01 이도영 - 다운로드한 쿠폰 출력 기능
    - 2024/11/01 이도영 - 쿠폰이 없으면 없음 출력
-->
<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{myPage/layout/mypage_layout2}"
>
  <!-- 회원정보 섹션 -->
  <th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/my/coupon.css}" />
  </th:block>
  <th:block layout:fragment="script"> </th:block>
  <section class="content" layout:fragment="content">
    <a href="#"
      ><img
        src="/images/my/my_banner_sample.png"
        alt="롯데ON에서 드리는 다양한 결제혜택"
        class="banner"
    /></a>
    <!-- 810x86 배너 이미지 -->
    <article class="latest">
      <h3>쿠폰보관함</h3>
      <table border="0" class="widthtable">
        <tr>
          <th>쿠폰명</th>
          <th>할인정보</th>
          <th>이용상점</th>
          <th>상태</th>
          <th>유효기간</th>
        </tr>
        <tr th:if="${#lists.isEmpty(coupons.content)}">
          <td colspan="5" class="td_first" style="width: 100%">등록된 쿠폰이 없습니다.</td>
        </tr>
        <tr th:each="coupon : ${coupons.content}" th:if="${coupons != null}">
          <td>[[${coupon.couponName}]]</td>
          <td>
            <th:block th:switch="${coupon.couponDiscount}">
              <span th:case="1">1000원 할인</span>
              <span th:case="2">2000원 할인</span>
              <span th:case="3">3000원 할인</span>
              <span th:case="4">4000원 할인</span>
              <span th:case="5">5000원 할인</span>
              <span th:case="6">10% 할인</span>
              <span th:case="7">20% 할인</span>
              <span th:case="8">30% 할인</span>
              <span th:case="9">40% 할인</span>
              <span th:case="10">50% 할인</span>
              <span th:case="11">배송비 무료</span>
              <span th:case="*">할인 없음</span> <!-- 기본값 -->
            </th:block>
          </td>
          <td>[[${coupon.shopName}]]</td>
          <td>사용가능</td>
          <td>[[${coupon.couponExpireDateFormatted}]]</td>
        </tr>
      </table>


      <div class="couponinfo">
        <tr>
          <li>
            <bold>&#46;</bold> 순금/골드바/돌반지/상품권 등 환금성 카테고리 및
            중고상품 및 일부 프로모션 상품에는 쿠폰사용이 제한됩니다.
          </li>
          <li>
            &#46; 쿠폰 적용 가능한 금액기준은 판매자 상품별할인과 G마켓
            추가할인이 모두 포함된 할인적용가입니다.
          </li>
          <li>
            &#46; 중복쿠폰은 판매자 할인, G마켓 할인과 중복 적용 가능하며 하나의
            상품당 한장의 중복쿠폰만 사용 가능합니다.
          </li>
          <li>
            &#46; 항공 할인은 항공권 전용 할인으로 결제시점에 할인 혜택을 받을
            수 있습니다.
          </li>
          <li>
            &#46; 항공권 예약취소 또는 환불시 적용했던 항공할인은 id당 1회
            한하여 다시 발급됩니다.
          </li>
        </tr>
      </div>
    </article>
  </section>
</html>
