<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Myinfo</title>
        <link rel="stylesheet" href="/static/css/header.css">
        <link rel="stylesheet" href="/static/css/footer.css">
        <link rel="stylesheet" href="/static/css/reset.css">
        <link rel="stylesheet" href="/static/css/my/myinfo.css">
    </head>
<!--내용 시작-->
<body>
<!-- Include the header here -->
<header class="header">
    <div class="header__top">
        <div class="center header__top__nav">
            <a href="#" th:href="@{/member/login}">로그인</a>
            <a href="#" th:href="@{/member/join}">회원가입</a>
            <a href="#" th:href="@{/my/home(userId=${#authentication.principal.user.userId})}">마이페이지</a>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니
            </a>
            <a href="#" th:href="@{/member/logout}">로그아웃</a>
        </div>
    </div>
    <div class="header__bot">
        <div class="header__bot__wrapper center">
            <a class="logo" href="#" th:href="@{/}"><img class="logo__img" src="/static/images/header_logo.png" th:src="@{/images/header_logo.png}" alt="로고"/></a>
            <form class="search" action="/lotteon/product/search" method="get">
                <input class="search__input" type="text" name="keyword"/>
                <!-- <input  type="hidden" name="cateCode" id="cateCodeInput" value=""> -->
                <button class="search__btn"><img width="18" class="search__btn__img" src="/static/images/search.svg" /></button>
            </form>
        </div>
    </div>
</header>
<div id="wrapper">
    <nav class="myinfotopside">
        <div>
            <a href="#" class="shopping-info">나의쇼핑정보</a>

            <ol>
                <li>
                    <a href="/my/order">주문<br><span>2</span></a>
                </li>
                <li>
                    <a href="/my/coupon">쿠폰<br><span>1</span></a>
                </li>
                <li>
                    <a href="/my/point">포인트<br><span>1,000</span></a>
                </li>
                <li>
                    <a href="/my/qna">문의<br><span>1</span></a>
                </li>
            </ol>
        </div>
    </nav>
    <div class="info">
        <!-- 마이페이지 사이드바 -->
        <ul>
            <li><a href="#">전체주문내역</a></li>
            <li><a href="#">포인트내역</a></li>
            <li><a href="#">쿠폰</a></li>
            <li><a href="#">나의리뷰</a></li>
            <li><a href="#">문의하기</a></li>
            <li><a href="#">나의설정</a></li>
        </ul>
    
        <!-- 회원정보 섹션 -->
        <section>
            <a href="#"><img src="/static/images/image.PNG" alt="패션, 타운 하나로 끝" class="banner"></a> <!-- 810x86 배너 이미지 -->
    
            <article class="myinfomation">
                <h3>회원정보 설정</h3>
                <table border="0" class="myinfoheighttable">
                    <tr>
                        <th>사용자 ID</th>
                        <td>chh***</td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td><button class="infobutton">비밀번호수정</button></td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td>김*학</td>
                    </tr>
                    <tr>
                        <th>생년월일</th>
                        <td>1983년 05월 03일</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>
                            <input type="text" id="emailLocalPart" placeholder="이메일 아이디" />@
                            <input type="text" id="emailDomain" placeholder="이메일 도메인" />
                            <select id="domainSelect">
                                <option value="직접 입력">직접 입력</option>
                                <option value="naver.com">naver.com</option>
                                <option value="gmail.com">gmail.com</option>
                                <option value="daum.net">daum.net</option>
                            </select>
                            <button class="infobutton" onclick="updateEmail()">변경</button>
                        </td>
                    </tr>
                    <tr>
                        <th>휴대폰</th>
                        <td>
                            <input type="text" id="phone1" maxlength="3" placeholder="010" /> - 
                            <input type="text" id="phone2" maxlength="4" placeholder="1234" /> - 
                            <input type="text" id="phone3" maxlength="4" placeholder="5678" />
                            <button class="infobutton" onclick="updatePhone()">변경</button>
                        </td>
                    </tr>
                    <tr>
                        <th>주소</th>
                        <td>
                            <input type="text" id="postalCode" placeholder="우편번호" />
                            <button class="infobutton" onclick="searchPostalCode()">주소검색</button><br/>
                            <input type="text" id="address1" placeholder="기본주소입력" /><br/>
                            <input type="text" id="address2" placeholder="상세주소입력" />
                        </td>
                    </tr>
                </table>
            </article>
    
            <div class="memberLeave">
                <a href="#">탈퇴하기</a>
            </div>
    
            <div class="myinfosubmitbutton">
                <button>수정하기</button>
            </div>
        </section>
    </div>
</div>
<footer class="footer">
    <ul class="footer__links">
        <li class="footer__link"><a href="#">회사소개</a></li>
        <li class="footer__link"><a href="#">서비스이용약관</a></li>
        <li class="footer__link"><a href="#">개인정보처리방침</a></li>
        <li class="footer__link"><a href="#">전자금융거래약관</a></li>
        <li class="footer__link"><a href="#">1.0.0</a></li>
    </ul>
    <div class="footer__info">
        <p class="footer__logo"><img src="/static/images/footer_logo.png" alt="로고"></p>
        <p class="footer__company-info">
            <strong>(주)LotteON</strong><br>
            부산시 강남구 테헤란로 152 (역삼동 강남파이낸스센터)<br>
            대표이사 : 홍길동<br>
            사업자등록번호 : 220-81-83676 사업자정보확인<br>
            통신판매업신고 : 강남 10630호 Fax : 02-589-8842
        </p>
        <p class="footer__customer-service">
            <strong>고객센터</strong><br>
            Tel : 1234-5678 (평일 09:00~18:00)<br>
            스마일클럽/SVIP 전용 : 1522-5700 (365일 09:00~18:00)<br>
            경기도 부천시 원미구 부일로 223(상동) 투나빌딩 6층<br>
            Fax : 051-123-4567 | Mail : LotteON@LotteON.co.kr
        </p>
    </div>
</footer>
<script>
    document.getElementById('domainSelect').addEventListener('change', function() {
    var emailDomainInput = document.getElementById('emailDomain');
    if (this.value === '직접 입력') {
        emailDomainInput.value = '';
        emailDomainInput.readOnly = false;  // Enable manual input
    } else {
        emailDomainInput.value = this.value;
        emailDomainInput.readOnly = true;  // Prevent editing when auto-populating
    }
});

function updateEmail() {
    var emailLocalPart = document.getElementById('emailLocalPart').value;
    var emailDomain = document.getElementById('emailDomain').value;
    var fullEmail = emailLocalPart + "@" + emailDomain;
    alert('Updated email: ' + fullEmail);
}
</script>

</body>
</html>
