<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{myPage/layout/mypage_layout2}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/my/ordered.css}"/>
    <link rel="stylesheet" th:href="@{/css/my/modal.css}">
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/modal/modal.js}"></script>
    <script type="text/javascript" th:src="@{/js/my/searchPeriod.js}"></script>
</th:block>

<!-- 회원정보 섹션 -->
    <section class="content" layout:fragment="content">
        <div th:replace="layout/modal :: #orderDetailModal"></div>
        <div th:replace="layout/modal :: #sellerInfoModal"></div>
        <div th:replace="layout/modal :: #inquiryModal"></div>
        <div th:replace="layout/modal :: #receiptConfirmModal"></div>
        <div th:replace="layout/modal :: #reviewModal"></div>
        <div th:replace="layout/modal :: #refundModal"></div>
        <div th:replace="layout/modal :: #returnModal"></div>
        <a href="#"><img src="/images/my/my_banner_sample.png" alt="롯데ON에서 드리는 다양한 결제혜택" class="banner"></a>
        <!-- 810x86 배너 이미지 -->
        <article class="latest">
            <h3>전체주문내역</h3>
            <!-- 주문내역 검색바 -->
            <div class="myinfoSearch">
                <p>기간별 조회</p>
                <a href="/my/order">전체</a>
                <a href="/my/order?cate=week">일주일</a>
                <a href="/my/order?cate=halfmonth">15일</a>
                <a href="/my/order?cate=month">1개월</a>
                <select id="monthSelect">
                    <productOption value="">검색 기간 선택</productOption>
                </select>
                <div class="date-wrapper">
                    <div class="start-date-wrapper">
                        시작날짜 : <input type="date" id="startDate" class="start-date" placeholder="시작 날짜 선택">
                    </div>

                    <div class="end-date-wrapper">
                        종료날짜 : <input type="date" id="endDate" class="end-date" placeholder="종료 날짜 선택">
                    </div>
                </div>
                <button onclick="searchOrders()">검색</button>
            </div>
            <h3>최근주문내역</h3>
            <table border="0" class="widthtable">
                <tr>
                    <th>날짜</th>
                    <th></th>
                    <th>상품정보</th>
                    <th>상태</th>
                    <th>확인/신청</th>
                </tr>
                <block>
                    <tr>
                        <td class="date">2022-12-13</td>
                        <td><a href="#" class="recentproductorderimg"><img src="/images/my/my_sample_thumb.png"
                                                                           alt="상품이미지"></a></td>
                        <td class="order-info">
                            <div class="order-number">
                                주문번호: <a href="#" data-modal="orderDetailModal">1022134123</a>
                            </div>
                            <div class="company-name" text="${order.companyName}" data-modal="sellerInfoModal">실바니안패밀리
                            </div>
                            <div class="product-name" text="${order.productName}">플로라 토끼 남매의 꽃 가꾸기</div>
                            <div>수량 : <span text="${order.quantity}"></span>1 개</div>
                            <div class="product-price" style="font-size: 18px; font-weight: bold;"
                                 text="${order.price}">25,900원
                            </div>
                        </td>

                        <td class="status">배송중</td>
                        <td>
                            <!-- 수취확인 -->
                            <button class="receivebutton" data-modal="receiptConfirmModal">수취확인</button>
                            <br>
                            <button class="receivebutton" data-modal="reviewModal">상품평쓰기</button>
                            <br>
                            <button class="reviewbutton" data-modal="refundModal">반품신청</button>
                            <br>
                            <button class="reviewbutton" data-modal="returnModal">교환신청</button>
                        </td>
                    </tr>

                    <tr>
                        <td class="date">2022-12-13</td>
                        <td><a href="#" class="recentproductorderimg"><img src="/images/my/my_sample_thumb2.png"
                                                                           alt="상품이미지"></a></td>
                        <td class="order-info">
                            <div class="order-number">
                                주문번호: <span text="${order.orderNumber}" data-modal="orderDetailModal">1012211341</span>
                            </div>
                            <div class="company-name" text="${order.companyName}" data-modal="sellerInfoModal">오로라월드
                            </div>
                            <div class="product-name" text="${order.productName}">[보리보리/오로라월드]부르르 딸기 가방쏙 아기토끼</div>
                            <div>수량 : <span text="${order.quantity}"></span>1 개</div>
                            <div class="product-price" style="font-size: 18px; font-weight: bold;"
                                 text="${order.price}">13,900원
                            </div>
                        </td>

                        <td class="status">배송완료</td>
                        <td>
                            <!-- 수취확인 -->
                            <button class="receivebutton" data-modal="receiptConfirmModal">수취확인</button>
                            <br>
                            <button class="receivebutton" data-modal="reviewModal">상품평쓰기</button>
                            <br>
                            <button class="reviewbutton" data-modal="refundModal">반품신청</button>
                            <br>
                            <button class="reviewbutton" data-modal="returnModal">교환신청</button>
                        </td>
                    </tr>
                </block>
            </table>
        </article>

        <div class="pagingBox">
            <div class="pagingList">
                <!-- 이전 버튼 -->
                <a href="#" class="prev"><</a>

                <!-- 페이지 링크 -->
                <a href="#">1</a>
                <a href="#" class="active">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>

                <!-- 다음 버튼 -->
                <a href="#" class="next">></a>
            </div>
        </div>
    </section>
</html>