<link rel="stylesheet" href="/css/include/header-nav.css" th:href="@{/css/include/header-nav.css}">
<link rel="stylesheet" href="/css/include/reset.css" th:href="@{/css/include/reset.css}">

<nav class="nav-bar">
    <ul class="nav-items">
        <!-- 메뉴 아이템 -->
        <li class="nav-item menu">메뉴
            <div class="categoryMenu">
                <div class="dep1">
                    <ul class="menu-list">
                        <!-- 1차 카테고리 루프 -->
                        <li class="menu-item" th:each="category : ${categories}">
                            <a th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name}">카테고리 이름</a>

                            <!-- 2차 카테고리 -->
                            <div class="dep2" th:if="${category.children}">
                                <ul>
                                    <li class="menu-item" th:each="child : ${category.children}">
                                        <a  th:href="@{/category/{id}(id=${child.id})}" th:text="${child.name}">서브 카테고리 이름</a>

                                        <!-- 3차 카테고리 -->
                                        <div class="dep3" th:if="${child.children}">
                                            <ul>
                                                <li class="menu-item-dep3" th:each="subChild : ${child.children}">
                                                    <a th:href="@{/category/{id}(id=${subChild.id})}" th:text="${subChild.name}">서브 서브 카테고리 이름</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="nav-item menu">
            <a th:href="@{/product/list}">히트상품</a>
        </li>

        <li class="nav-item menu">추천상품</li>
        <li class="nav-item menu">최신상품</li>
        <li class="nav-item menu">인기상품</li>
        <li class="nav-item menu">할인상품</li>
    </ul>
</nav>
