<div class="content" th:fragment="list">
    <link rel="stylesheet" th:href="@{/css/admin/shop/list.css}" />
    <div class="dashboard">
        <div class="content_header">
            <h1>상점목록</h1>
            <p>
                HOME > 상점관리 > <strong>상점목록</strong>
            </p>
        </div>

        <section class="sectionBox">
            <div>
                <form action="/admin/shop/list" class="search_bar">
                    <select name="type">
                        <option value="companyName">상호명</option>
                        <option value="representative">대표자</option>
                        <option value="businessNumber">사업자등록번호</option>
                        <option value="contact">연락처</option>
                        <option value="keyword">키워드</option>

                    </select>
                    <input class="searchInput" type="text" name="keyword">
                    <input type="hidden" name="prodSeller" value="ADMIN" readonly>
                    <input class="searchBtn" type="submit" value="검색">
                </form>
            </div>
            <div class="operate">
                <p class="running">● 운영중</p>
                <p class="stopped">&nbsp;● 운영 중지</p>
                <p class="preparing">&nbsp;● 운영 준비</p>
            </div>
            <table class="admingraph">
                <tr class="admin_title">
                    <th><input type="checkbox" name="allCheck" /></th>
                    <th>번호</th>
                    <th>상호명</th>
                    <th>대표</th>
                    <th>사업자등록번호</th>
                    <th>통신판매업번호</th>
                    <th>연락처</th>
                    <th>운영</th>
                    <th>관리</th>
                </tr>

                <tr class="admin_list">
                    <td><input type="checkbox" value="noticeNo" name="RowCheck" /></td>
                    <td>1</td>
                    <td>(주)합천</td>
                    <td>이상훈</td>
                    <td>112-12-12345</td>
                    <td>2024-서울강남-04433</td>
                    <td>010-1234-1001</td>
                    <td style="color: green">●</td>
                    <td>
                        <a href="">[중단]</a>
                    </td>
                </tr>

                <tr class="admin_list">
                    <td><input type="checkbox" value="noticeNo" name="RowCheck" /></td>
                    <td>1</td>
                    <td>(주)합천</td>
                    <td>이상훈</td>
                    <td>112-12-12345</td>
                    <td>2024-서울강남-04433</td>
                    <td>010-1234-1001</td>
                    <td style="color: red">●</td>
                    <td>
                        <a href="">[재개]</a>
                    </td>
                </tr>

            </table>
            <a class="delete_btn">선택삭제</a>
            <a class="registration_btn">상점등록</a>

            <div class="pagingBox">
                <div class="pagingList">
                    <!-- 이전 버튼 -->
                    <a href="#" class="prev"><</a>

                    <!-- 페이지 링크 -->
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>

                    <!-- 다음 버튼 -->
                    <a href="#" class="next">></a>
                </div>
            </div>

        </section>
    </div>
</div>