<div class="faq" th:fragment="list">

<!--
  날짜 : 2024/10/18
  이름 : 최준혁
  내용 : 고객센터 자주묻는질문 목록

  수정이력
  - 2024/10/24 김소희 - 동적처리
-->

  <nav>
    <div>
      <p>홈<span>></span>자주묻는질문</p>
    </div>
  </nav>
  <section class="list">
    <aside class="cs_sidebar">
      <h2>자주묻는질문</h2>
      <ul>
        <li><a href="#">회원</a></li>
        <li><a href="#">쿠폰 / 이벤트</a></li>
        <li><a href="#">주문 / 결제</a></li>
        <li><a href="#">배송</a></li>
        <li><a href="#">취소 / 반품 / 교환</a></li>
        <li><a href="#">여행 / 숙박 / 항공</a></li>
        <li><a href="#">안전거래</a></li>
      </ul>
    </aside>
    <article class="faq_article">
      <nav>
        <h1>회원</h1>
        <h2>회원관련 자주 묻는 질문입니다.</h2>
      </nav>
      <div class="faq-section">

        <!-- FAQ 목록 동적 처리 -->
        <div class="category" th:each="faq : ${faqs}">
          <h2 th:text="${faq.type1}">카테고리</h2> <!-- 카테고리 표시 -->
          <div class="faq-item">
            <!-- FAQ 질문 -->
            <a th:href="@{/cs/layout/faq/view/{id}(id=${faq.id})}" class="question" th:text="'Q. ' + ${faq.title}">Q. 질문 내용</a>
<!--            &lt;!&ndash; FAQ 답변 &ndash;&gt;-->
<!--            <span class="answer" th:text="${faq.content}">A. 답변 내용</span>-->
          </div>
        </div>

        <!-- 간단히 보기 / 더 보기 버튼 -->
        <button class="simple-view">간단히 보기</button>
        <button class="more-view">더 보기 <span class="count" th:text="${faqs != null ? faqs.size() : 0}">0</span></button>
      </div>
    </article>
  </section>
</div>
