<!-- 회원정보 섹션 -->
<section th:fragment="coupon">
    <link rel="stylesheet" th:href="@{/css/my/coupon.css}"/>
    <a href="#"><img src="/images/my/my_banner_sample.png" alt="롯데ON에서 드리는 다양한 결제혜택" class="banner"></a>
    <!-- 810x86 배너 이미지 -->
    <article class="latest">

        <h3>쿠폰보관함</h3>
        <table border="0" class="widthtable">
            <tr>
                <th>쿠폰명</th>
                <th>할인금액</th>
                <th>적용기준/제한조건</th>
                <th>상태</th>
                <th>유효기간</th>
            </tr>
            <tr>
                <td>1 만원 할인 중복 쿠폰</td>
                <td>10,000원</td>
                <td>10,000 원 이상 구매시</td>
                <td>사용가능</td>
                <td>~ 12/31</td>
            </tr>
            <tr>
                <td>1 만원 할인 중복 쿠폰</td>
                <td>10,000원</td>
                <td>10,000 원 이상 구매시</td>
                <td>사용가능</td>
                <td>~ 12/31</td>
            </tr>

        </table>

        <div class="couponinfo">
            <tr>
                <li><bold>&#46;</bold> 순금/골드바/돌반지/상품권 등 환금성 카테고리 및 중고상품 및 일부 프로모션 상품에는 쿠폰사용이 제한됩니다.</li>
                <li>&#46; 쿠폰 적용 가능한 금액기준은 판매자 상품별할인과 G마켓 추가할인이 모두 포함된 할인적용가입니다.</li>
                <li>&#46; 중복쿠폰은 판매자 할인, G마켓 할인과 중복 적용 가능하며 하나의 상품당 한장의 중복쿠폰만 사용 가능합니다.</li>
                <li>&#46; 항공 할인은 항공권 전용 할인으로 결제시점에 할인 혜택을 받을 수 있습니다.</li>
                <li>&#46; 항공권 예약취소 또는 환불시 적용했던 항공할인은 id당 1회 한하여 다시 발급됩니다.</li>
            </tr>
        </div>

    </article>
</section>
</div>
</div>
