<!DOCTYPE html>
<html lang="ko" style="--actual-width: 1536px;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteOn 로그인</title>
    <link rel="stylesheet" th:href="@{/css/user/user_style.css}">
</head>


<header th:replace="~{layout/header::header}"></header>

<main id="content" role="main" class="contentArea on">
    <div class="loginContent withAd vertical">
        <div class="loginWrap lotteOn">
            <h2 class="titLogin">
                <span class="tit">로그인</span>
            </h2>
            <hr class="line" size="2px" color="black">
            <div class="loginFormWrapper">
                <div class="login-left">
                    <div class="section_input_loginForm">
                        <div class="inputSet">
                            <input name="inId" type="text" placeholder="아이디" id="inId" title="아이디 또는 이메일 입력">
                            <input id="Password" type="password" placeholder="비밀번호"
                                   name="Password" autocomplete="new-password"
                                   title="비밀번호 입력 (8~15자리 영문+숫자+특수문자 조합)">
                        </div>

                            <a th:href="@{/myPage/home}" class="loginButtonWithImage">
                            <span class="btnLogin">로그인</span>
                            </a>

                    </div>

                    <div class="userinfoservice">
                        <div>
                            <input id="checkbox1" type="checkbox" name="checkbox1" checked="checked">자동로그인
                        </div>
                        <div>
                            <button class="findIdPassword">아이디 찾기</button> |
                            <button class="findIdPassword">비밀번호 찾기</button> |
                            <a th:href="@{/user/join}"><button class="movejoin">회원가입</button></a>
                        </div>
                    </div>

                    <div class="socialSignupWrap">
                        <button type="button" class="naverLoginBtn">네이버</button>
                        <button type="button" class="kakaoLoginBtn">카카오</button>
                        <button type="button" class="googleLoginBtn">구글</button>
                    </div>

                </div>
                <div class="login-right">
                    <img class="login-right__img" th:src="@{/images/member/login_ad.jpg}" alt="샘플광고" >
                </div>
            </div>
            <div class="awards-container">
                <img src="https://png.pngtree.com/png-clipart/20191121/original/pngtree-awards-ceremony-golden-wheat-ear-logo-png-image_5137378.jpg" alt="awards img" />
                <img src="https://png.pngtree.com/png-clipart/20191121/original/pngtree-awards-ceremony-golden-wheat-ear-logo-png-image_5137378.jpg" alt="awards img" />
                <img src="https://png.pngtree.com/png-clipart/20191121/original/pngtree-awards-ceremony-golden-wheat-ear-logo-png-image_5137378.jpg" alt="awards img" />
                <img src="https://png.pngtree.com/png-clipart/20191121/original/pngtree-awards-ceremony-golden-wheat-ear-logo-png-image_5137378.jpg" alt="awards img" />
            </div>
        </div>

    </div>
</main>
<footer th:replace="~{layout/footer::footer}"></footer>
</body>
</html>