<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입</title>
    <link rel="stylesheet" th:href="@{/css/user/user_style.css}">

</head>
<body>
<header th:replace="~{layout/header::header}"></header>

<div id="wrapper">
    <section class="user-section">
        <h2>판매자 회원가입</h2>
        <form action="#" method="post">
            <input type="hidden" name="role" value="Seller">
            <table border="0" class="heighttable">
                <tr>
                    <th>아이디</th>
                    <td>
                        <input type="text" name="uid" placeholder="아이디 입력"/> 영문, 숫자 4~12자 설정
                        <button type="button" id="btnCheckUid" name="uidbtn" data-type="uid" class="infobutton">중복확인</button>
                        <span class="resultId"></span>
                    </td>
                </tr>
                <tr>
                    <th>비밀번호<span class="required">*</span></th>
                    <td><input type="password" name="pass"> 영문, 숫자, 특수문자 8~12자 설정</td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th>
                    <td><input type="password" name="pass2">
                        <span class="resultPass"></span>
                    </td>
                </tr>
            </table>
            <br>
            <table border="0" class="heighttable">
                <tr>
                    <th>회사명</th>
                    <td><input type="text" name="shop_name" placeholder="상호명입력예 ) (주)"/></td>
                </tr>
                <tr>
                    <th>대표</th>
                    <td><input type="text" name="representative" placeholder="이름입력"/></td>
                </tr>
                <tr>
                    <th>사업자등록번호</th>
                    <td><input type="text" name="business_registration" placeholder="사업자등록번호입력"/> - 포함 12 자리 입력</td>
                </tr>
                <tr>
                    <th>통신판매업번호</th>
                    <td><input type="text" name="e_commerce_registration" placeholder="통신판매업번호입력"/></td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td><input type="text" name="ph" placeholder="전화번호입력"/></td>
                </tr>
                <tr>
                    <th>팩스</th>
                    <td><input type="text" name="fax" placeholder="팩스번호입력"/></td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td><input type="text" name=zip" placeholder="우편번호검색클릭"/>
                        <button class="infobutton" onclick="searchPostalCode()">주소검색</button><br/>
                        <input type="text" id="address1" name=addr1" placeholder="기본주소입력" /><br/>
                        <input type="text" id="address2" name=addr2" placeholder="상세주소입력" />
                    </td>
                </tr>
            </table>

            <div class="registerbuttondiv">
                <a th:href="@{/user/login}" class="registerbutton" type="submit" value="등록하기">등록하기</a>
            </div>
        </form>
    </section>
</div>

</body>
</html>
