<div class="content" th:fragment="info">
    <link rel="stylesheet" th:href="@{/css/admin/config/info.css}" />
    <div class="dashboard">
        <div class="content_header">
            <h1>기본설정</h1>
            <p>HOME > 환경설정 > <b>기본설정</b></p>
        </div>
        <div class="content">
            <div class="config_info">
                <!-- 최근 주문내역 -->
                <div class="section">
                    <h2>최근주문내역</h2>
                    <p>현재 사이트 버전입니다.</p>
                    <table class="form-table">
                        <tr>
                            <td><label>사이트 버전</label></td>
                            <td>0.0.1-RELEASE</td>
                        </tr>
                    </table>
                </div>

                <!-- 사이트 -->
                <div class="section">
                    <h2>사이트</h2>
                    <p>브라우저 탭, 헤더 및 푸터 노출 정보입니다.</p>
                    <table class="form-table">
                        <tr>
                            <td><label>제목</label></td>
                            <td><input type="text" name="site_name" value="롯데 ON"></td>
                        </tr>
                        <tr>
                            <td><label>부제</label></td>
                            <td><input type="text" name="site_sub_name" value="더 나은 쇼핑을 위한 선택"></td>
                        </tr>
                    </table>
                    <div class="submit-section">
                        <button type="submit" class="submit-btn">수정하기</button>
                    </div>
                </div>

                <!-- 로고 -->
                <div class="section">
                    <h2>로고</h2>
                    <p>브라우저 탭, 헤더 및 푸터 노출 로고입니다.</p>
                    <table class="form-table">
                        <tr>
                            <td><label>헤더 로고</label></td>
                            <td>
                                <input type="file" id="file1" name="file1" style="display: none; " onchange="updateFileName(this, 'file1-span')">
                                <label for="file1" class="file-label">파일 선택</label>
                                <span id="file1-span" style="margin-right: 10px;">선택된 파일 없음</span>
                                크기 190 × 190   상품 목록에 출력될 이미지 입니다.
                            </td>
                        </tr>
                        <tr>
                            <td><label>푸터 로고</label></td>
                            <td>
                                <input type="file" id="file2" name="file2" style="display: none;" onchange="updateFileName(this, 'file2-span')">
                                <label for="file2" class="file-label">파일 선택</label>
                                <span id="file2-span" style="margin-right: 10px;">선택된 파일 없음</span>
                                크기 230 × 230   상품 메일에 출력 될 이미지 입니다.
                            </td>
                        </tr>
                        <tr>
                            <td><label>파비콘</label></td>
                            <td>
                                <input type="file" id="file3" name="file3" style="display: none;" onchange="updateFileName(this, 'file3-span')">
                                <label for="file3" class="file-label">파일 선택</label>
                                <span id="file3-span" style="margin-right: 10px;">선택된 파일 없음</span>
                                크기 456 × 456   상품 상세 페이지 출력 될 이미지 입니다.
                            </td>
                        </tr>
                    </table>
                    <div class="submit-section">
                        <button type="submit" class="submit-btn">수정하기</button>
                    </div>
                </div>

                <!-- 기업정보 -->
                <div class="section">
                    <h2>기업 정보</h2>
                    <p>푸터에 노출되는 기업 정보입니다.</p>
                    <table class="form-table">
                        <tr>
                            <td><label>상호명</label></td>
                            <td><input type="text" name="company_name" value="롯데쇼핑주식회사"></td>
                        </tr>
                        <tr>
                            <td><label>대표이사</label></td>
                            <td><input type="text" name="company_ceo" value="홍길동"></td>
                        </tr>
                        <tr>
                            <td><label>사업자등록번호</label></td>
                            <td><input type="text" name="company_num" value="123-12-12345"></td>
                        </tr>
                        <tr>
                            <td><label>통신판매업신고</label></td>
                            <td><input type="text" name="company_phone" value="2024-서울강남-1234"></td>
                        </tr>
                        <tr>
                            <td><label>기본주소</label></td>
                            <td><input type="text" name="company_addr1" value="서울특별시 강남구 테헤란로 507"></td>
                        </tr>
                        <tr>
                            <td><label>상세주소</label></td>
                            <td><input type="text" name="company_addr2" value="(삼성동, WeWork 빌딩) 7층"></td>
                        </tr>
                    </table>
                    <div class="submit-section">
                        <button type="submit" class="submit-btn">수정하기</button>
                    </div>
                </div>

                <!-- 고객센터 정보 -->
                <div class="section">
                    <h2>고객센터 정보</h2>
                    <p>푸터에 노출되는 고객센터 정보입니다.</p>
                    <table class="form-table">
                        <tr>
                            <td><label>전화번호</label></td>
                            <td><input type="text" name="cs_phone" value="롯데쇼핑주식회사"></td>
                        </tr>
                        <tr>
                            <td><label>업무시간</label></td>
                            <td><input type="text" name="time" value="홍길동"></td>
                        </tr>
                        <tr>
                            <td><label>이메일</label></td>
                            <td><input type="text" name="email" value="123-12-12345"></td>
                        </tr>
                        <tr>
                            <td><label>전자금융거래 분쟁담당</label></td>
                            <td><input type="text" name="act" value="2024-서울강남-1234"></td>
                        </tr>
                    </table>
                    <div class="submit-section">
                        <button type="submit" class="submit-btn">수정하기</button>
                    </div>
                </div>

                <!-- 카피라이트 정보 -->
                <div class="section">
                    <h2>카피라이트 정보</h2>
                    <p>푸터에 노출되는 카피라이트 정보입니다.</p>
                    <table class="form-table">
                        <tr>
                            <td><label>카피라이트</label></td>
                            <td><input type="text" name="copyright" value="Copyright®LotteOn. All rights reserved"></td>
                        </tr>
                    </table>
                    <div class="submit-section">
                        <button type="submit" class="submit-btn">수정하기</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
