<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/adminlayout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/config/policy.css}" />
</th:block>

<div class="content" layout:fragment="content">
    <div class="dashboard">
        <div class="content_header">
            <h1>약관 관리</h1>
            <p>HOME > 환경설정 > 약관 관리</p>
        </div>

        <div class="content">
            <!-- 약관 관리 폼 -->
            <form method="post" th:action="@{/admin/policy/update}">
                <article class="version">
                    <h3>구매회원 약관</h3>
                    <div class="adminp">
                        <p>회원가입 및 정책 페이지 노출 약관입니다.</p>
                    </div>
                    <table class="adminwidthtable">
                        <tr>
                            <th>약관내용</th>
                            <td>
                                <textarea name="content" class="textarea_1" th:text="${userTerms.content}"></textarea>
                                <input type="hidden" name="termCode" value="user_terms" />
                            </td>
                        </tr>
                    </table>
                </article>
                <article class="version">
                    <h3>판매회원 약관</h3>
                    <div class="adminp">
                        <p>회원가입 및 정책 페이지 노출 약관입니다.</p>
                    </div>
                    <table class="adminwidthtable">
                        <tr>
                            <th>약관내용</th>
                            <td>
                                <textarea name="content" class="textarea_1" th:text="${sellerTerms.content}"></textarea>
                                <input type="hidden" name="termCode" value="seller_terms" />
                            </td>
                        </tr>
                    </table>
                </article>
                <article class="version">
                    <h3>전자금융 거래 약관</h3>
                    <div class="adminp">
                        <p>회원가입 및 정책 페이지 노출 약관입니다.</p>
                    </div>
                    <table class="adminwidthtable">
                        <tr>
                            <th>약관내용</th>
                            <td>
                                <textarea name="content" class="textarea_1" th:text="${financeTerms.content}"></textarea>
                                <input type="hidden" name="termCode" value="finance" />
                            </td>
                        </tr>
                    </table>
                </article>
                <article class="version">
                    <h3>개인정보 처리방침</h3>
                    <div class="adminp">
                        <p>회원가입 및 정책 페이지 노출 약관입니다.</p>
                    </div>
                    <table class="adminwidthtable">
                        <tr>
                            <th>약관내용</th>
                            <td>
                                <textarea name="content" class="textarea_1" th:text="${privacyTerms.content}"></textarea>
                                <input type="hidden" name="termCode" value="privacy" />
                            </td>
                        </tr>
                    </table>
                </article>
                <div class="infobuttondiv">
                    <button class="lnfoButton" type="submit">수정하기</button>
                </div>
            </form>
        </div>
    </div>
</div>
</html>
