<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/adminlayout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/list.css}" />
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="content" layout:fragment="content">
    <div class="dashboard">
        <div class="content_header">
            <h1>버전이력</h1>
            <p>
                HOME > 고객센터 > <strong>버전이력</strong>
            </p>
        </div>
        <section class="sectionBox">
            <h3 style="font-size: large; margin-top: 10px; margin-bottom: -10px">버전목록</h3>
            <div class="adminp">
                <p>사이트 버전목록 입니다.</p>
            </div>
            <table class="admingraph">
                <tr class="admin_title">
                    <th><input type="checkbox" name="allCheck" /></th>
                    <th>번호</th>
                    <th>버전</th>
                    <th>작성자</th>
                    <th>등록일시</th>
                    <th>변경내역</th>
                </tr>

                <tr class="admin_list">
                    <td><input type="checkbox" value="noticeNo" name="RowCheck" /></td>
                    <td>1</td>
                    <td>0.0.1-SNAPSHOP</td>
                    <td>chhak0503</td>
                    <td style="white-space: nowrap;">2024-10-14</td>
                    <td>
                        <div th:replace="admin/include/admin_modal :: #versioncheckModal"></div>
                        <a href="#" data-modal="versioncheckModal">[확인]</a>
                    </td>
                </tr>

                <tr class="admin_list">
                    <td><input type="checkbox" value="noticeNo" name="RowCheck" /></td>
                    <td>1</td>
                    <td>0.0.1-SNAPSHOP</td>
                    <td>chhak0503</td>
                    <td style="white-space: nowrap;">2024-10-14</td>
                    <td>
                        <div th:replace="admin/include/admin_modal :: #versioncheckModal"></div>
                        <a href="#" data-modal="versioncheckModal">[확인]</a>
                    </td>
                </tr>

            </table>
            <a class="delete_btn">선택삭제</a>

            <div th:replace="admin/include/admin_modal :: #versioninsertModal"></div>
            <a href="#" data-modal="versioninsertModal" class="registration_btn">등록</a>

            <div class="pagingBox">
                <div class="pagingList">
                    <!-- 이전 버튼 -->
                    <a href="#" class="prev"><</a>

                    <!-- 페이지 링크 -->
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>

                    <!-- 다음 버튼 -->
                    <a href="#" class="next">></a>
                </div>
            </div>

        </section>

    </div>

</div>
</html>