
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/adminlayout}">

<!--
   날짜 : 2024/10/25 (수정해주세요)
   이름 : 이도영(최초 작성자)
   내용 : Member list html 작성

   수정이력
   - 2025/10/24 박서홍 - 관리자 - 회원정보 출력 코드 수정
   - 2025/10/25 박서홍 - 관리자 - 회원정보 검색 기능 구현
   -->

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/member/list.css}" />
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/admin/config/Version.js}"></script>
</th:block>



<div class="content" layout:fragment="content">
    <div th:replace="admin/include/admin_modal :: #userchangemodal"></div>
    <div class="dashboard">
        <div class="content_header">
            <h1>회원목록</h1>
            <p>
                HOME > 회원관리 > <strong>회원목록</strong>
            </p>
        </div>
        <section class="sectionBox">
            <div class="select-container">
                <form action="/admin/member/list" class="search_bar">
                    <select name="type">
                        <option value="uid">아이디</option>
                        <option value="name">이름</option>
                        <option value="email">이메일</option>
                        <option value="contact">휴대폰</option>
                    </select>
                    <input class="searchInput" type="text" name="keyword">
                    <input type="hidden" name="prodSeller" value="ADMIN" readonly>
                    <input class="searchBtn" type="submit" value="검색">
                </form>
            </div>
            <table class="admingraph">
                <thead>
                <tr class="admin_title">
                    <th><input type="checkbox" name="allCheck" /></th>
                    <th>번호</th>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>성별</th>
                    <th>등급</th>
                    <th>포인트</th>
                    <th>이메일</th>
                    <th>휴대폰</th>
                    <th>가입일</th>
                    <th>상태</th>
                    <th>관리</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="member, stat : ${memberList}" class="admin_list">
                    <td><input type="checkbox" value="${member.uid}" name="RowCheck" /></td>
                    <td th:text="${stat.index + 1}">번호</td>
                    <td th:text="${member.uid}">UID</td>
                    <td th:text="${member.name}">이름</td>
                    <td th:text="${member.gender}">성별</td>
                    <td>
                        <select th:value="${member.grade}">
                            <option value="vvip">VVIP</option>
                            <option value="vip">VIP</option>
                            <option value="gold">GOLD</option>
                            <option value="silver">SILVER</option>
                            <option value="family">FAMILY</option>
                        </select>
                    </td>
                    <td th:text="${member.points}">포인트</td>
                    <td th:text="${member.email}">이메일</td>
                    <td th:text="${member.ph}">전화번호</td>
                    <td th:text="${member.birth != null ? #temporals.format(member.birth, 'yyyy-MM-dd') : '날짜 없음'}">가입일</td>
                    <td th:text="${member.status == 1 ? '정상' : (member.status == 2 ? '중지' : (member.status == 3 ? '휴면' : (member.status == 4 ? '탈퇴' : '상태없음')))}">상태</td>



                    <td style="line-height: 20px">
<!--                        <a href="#" data-modal="userchangemodal" class="cs_modify-btn">[수정]</a>-->
                        <!-- 회원 목록에서 수정 버튼 -->
                        <a href="#" data-modal="userchangemodal" data-user-id="123" class="cs_modify-btn" onclick="openUserChangeModal(this)">[수정]</a>
                        <br>
                        <a href="" class="cs_delete-btn">[중지]</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <a class="delete_btn">선택삭제</a>

            <div class="pagingBox">
                <div class="pagingList">
                    <!-- 이전 버튼 -->
                    <th:block th:if="${pageInfo.prev}">
                        <a th:href="@{/admin/member/list(pg=${pageInfo.pg - 1})}" class="prev">←</a>
                    </th:block>

                    <!-- 페이지 링크 -->
                    <th:block th:each="num : ${#numbers.sequence(pageInfo.start, pageInfo.end)}">
                        <a th:href="@{/admin/member/list(pg=${num})}" th:text="${num}"
                           th:classappend="${pageInfo.pg == num} ? 'active'"></a>
                    </th:block>

                    <!-- 다음 버튼 -->
                    <th:block th:if="${pageInfo.next}">
                        <a th:href="@{/admin/member/list(pg=${pageInfo.pg + 1})}" class="next">→</a>
                    </th:block>
                </div>
            </div>
        </section>
    </div>
</div>
</html>
