<div class="content" th:fragment="list">
    <link rel="stylesheet" th:href="@{/css/admin/list.css}" />
    <div class="dashboard">
        <div class="content_header">
            <h1>회원목록</h1>
            <p>
                HOME > 회원관리 > <strong>회원목록</strong>
            </p>
        </div>

        <section class="sectionBox">
            <div>
                <form action="/admin/member/list">
                    <select name="type">
                        <option value="uid">아이디</option>
                        <option value="name">이름</option>
                        <option value="email">이메일</option>
                        <option value="contact">휴대폰 키워드</option>

                    </select>
                    <input class="searchInput" type="text" name="keyword">
                    <input type="hidden" name="prodSeller" value="ADMIN" readonly>
                    <input class="searchBtn" type="submit" value="검색">
                </form>
            </div>
            <table class="admingraph">
                <tr class="admin_title">
                    <th><input type="checkbox" name="allCheck" /></th>
                    <th>번호</th>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>성별</th>
                    <th>등급</th>
                    <th>포인트</th>
                    <th>이메일</th>
                    <th>휴대폰</th>
                    <th>가입일</th>
                    <th>상태</th>
                    <th>관리</th>
                </tr>

                <tr class="admin_list">
                    <td><input type="checkbox" value="noticeNo" name="RowCheck" /></td>
                    <td>5</td>
                    <td>xxxxx</td>
                    <td>이상훈</td>
                    <td>M</td>
                    <td>
                    <select>
                        <option value="vvip">VVIP</option>
                        <option value="vip">VIP</option>
                        <option value="gold">GOLD</option>
                        <option value="silver">SILVER</option>
                        <option value="family">FAMILY</option>
                    </select>
                    </td>
                    <td>15,000</td>
                    <td>xxxx@gmail.com</td>
                    <td>010-1234-1001</td>
                    <td>0000-00-00</td>
                    <td>정상</td>
                    <!-- 정상, 중지, 휴면, 탈퇴 -->
                    <td>
                        <a href="">[수정]</a>
                        <a href="">[중지]</a>
                        <!-- <a href="">[휴면]</a>
                        <a href="">[재개]</a>
                        <a href="">[비활성]</a> -->
                    </td>
                </tr>

            </table>
            <a class="delete_btn">선택수정</a>

            <div class="pagingBox">
                <div class="pagingList">
                    <!-- 이전 버튼 -->
                    <a href="#" class="prev"></a>

                    <!-- 페이지 링크 -->
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>

                    <!-- 다음 버튼 -->
                    <a href="#" class="next">></a>
                </div>
            </div>
        </section>

    </div>
</div>
