<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/adminlayout}">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/admin/member/list.css}" />
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">

</th:block>

<div class="content" layout:fragment="content">
    <div class="dashboard">
        <div class="content_header">
            <h1>포인트관리</h1>
            <p>
                HOME > 회원관리 > <strong>포인트관리</strong>
            </p>
        </div>

        <!-- 컨텐츠 시작 -->
        <section class="sectionBox">
            <div>
                <form action="/admin/product/list" class="search_bar">
                    <select name="type">
                        <option value="uid">아이디</option>
                        <option value="name">이름</option>
                        <option value="email">이메일</option>
                        <option value="contact">휴대폰</option>
                    </select>
                    <input class="searchInput" type="text" name="keyword">
                    <input type="hidden" name="prodSeller" value="ADMIN" readonly>
                    <input class="searchBtn" type="submit" value="검색">
                </form>
            </div>

            <table class="admingraph">
                <tr class="admin_title">
                    <th><input type="checkbox" name="all" /></th>
                    <th>번호</th>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>지급 포인트</th>
                    <th>잔여 포인트</th>
                    <th>지급 내용</th>
                    <th>지급 날짜</th>
                </tr>

                <tr class="admin_list">
                    <td ><input type="checkbox" name="회원코드" /></td>

                    <td>5</td>
                    <td>abc1234</td>
                    <td>이상훈</td>
                    <td>1,000</td>
                    <td>15,000</td>
                    <td>구매확정 포인트 지급</td>
                    <td>2024-10-16</td>
                    <!-- 년월시일분초 출력 -->
                </tr>

            </table>

            <a class="delete_btn">선택삭제</a>

            <div class="pagingBox">
                <div class="pagingList">
                    <!-- 이전 버튼 -->
                    <a href="#" class="prev"><</a>

                    <!-- 페이지 링크 -->
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>

                    <!-- 다음 버튼 -->
                    <a href="#" class="next">></a>
                </div>
            </div>
        </section>
    </div>
</div>
</html>