<div class="content" th:fragment="list">
    <link rel="stylesheet" th:href="@{/css/admin/product/list.css}" />
    <div class="dashboard">
        <div class="content_header">
            <h1>상품 현황</h1>
            <p>
                HOME > 상품관리 > <strong>상품목록</strong>
            </p>
        </div>

        <!-- 상품목록 컨텐츠 시작 -->
        <section class="sectionBox">
            <div>
                <form action="/admin/product/list" class="search_bar">
                    <select name="type">
                        <option value="prodName">상품명</option>
                        <option value="prodNo">상품번호</option>
                        <option value="sellerNo">판매자</option>
                        <option value="prodCompany">제조사</option>
                    </select>
                    <input class="searchInput" type="text" name="keyword">
                    <input type="hidden" name="prodSeller" value="ADMIN" readonly>
                    <input class="searchBtn" type="submit" value="검색">
                </form>
            </div>

            <table class="admingraph">
                <tr class="admin_title">
                    <th><input type="checkbox" name="all" /></th>
                    <th>사진</th>
                    <th>상품코드</th>
                    <th>상품명</th>
                    <th>판매가격</th>
                    <th>할인율</th>
                    <th>포인트</th>
                    <th>재고</th>
                    <th>판매자</th>
                    <th>조회</th>
                    <th>관리</th>
                </tr>

                <tr class="admin_list">
                    <td><input type="checkbox" name="상품코드" /></td>
                    <td><img th:src="@{/images/admin/sample_thumb.jpg}" class="thumb" style="width: 70px; height: 70px">
                    </td>
                    <td>201603292</td>

                    <td>상품명 #1</td>

                    <td>32,000</td>
                    <td>10%</td>
                    <td>320</td>

                    <td>1,000</td>
                    <td>(주) 다파라</td>
                    <td>120</td>
                    <td style="line-height: 20px">
                        <a onclick="modifyProdStatus()" class="cs_delete-btn">[삭제]</a>
                        <br>
                        <a href="/seller/product/option?prodNo=상품코드값" class="cs_modify-btn">[수정]</a>
                    </td>
                </tr>

                <tr class="admin_list">
                    <td><input type="checkbox" name="상품코드" /></td>
                    <td><img th:src="@{/images/admin/sample_thumb.jpg}" class="thumb" style="width: 70px; height: 70px">
                    </td>
                    <td>201603292</td>

                    <td>상품명 #1</td>

                    <td>32,000</td>
                    <td>10%</td>
                    <td>320</td>

                    <td>1,000</td>
                    <td>(주) 다파라</td>
                    <td>300</td>
                    <td style="line-height: 20px">
                        <a onclick="modifyProdStatus()" class="cs_delete-btn">[삭제]</a>
                        <br>
                        <a href="/seller/product/option?prodNo=상품코드값" class="cs_modify-btn">[수정]</a>
                    </td>
                </tr>

                <tr class="admin_list">
                    <td><input type="checkbox" name="상품코드" /></td>
                    <td><img th:src="@{/images/admin/sample_thumb.jpg}" class="thumb" style="width: 70px; height: 70px">
                    </td>
                    <td>201603292</td>

                    <td>상품명 #1</td>

                    <td>32,000</td>
                    <td>10%</td>
                    <td>320</td>

                    <td>1,000</td>
                    <td>(주) 다파라</td>
                    <td>120</td>
                    <td style="line-height: 20px">
                        <a onclick="modifyProdStatus()" class="cs_delete-btn">[삭제]</a>
                        <br>
                        <a href="/seller/product/option?prodNo=상품코드값" class="cs_modify-btn">[수정]</a>
                    </td>
                </tr>

            </table>

            <a class="delete_btn">선택삭제</a>
            <a class="registration_btn">상품등록</a>

            <div class="pagingBox">
                <div class="pagingList">
                    <!-- 이전 버튼 -->
                    <a href="#" class="prev"></a>

                    <!-- 페이지 링크 -->
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>

                    <!-- 다음 버튼 -->
                    <a href="#" class="next">></a>
                </div>
            </div>
        </section>
    </div>
</div>