<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/policy.css}" />
</head>
<body>

<!-- header -->
<header th:replace="~{layout/header::header}"></header>

<!-- content -->
<th:block th:switch="${group}">
    <!-- 'content' 그룹일 경우 -->
    <th:block th:case="'content'">
        <div th:replace="~{/policy/content/${cate} :: ${cate}}"></div>
    </th:block>
    <!-- 기본 처리 (case에 해당하지 않는 경우) -->
    <th:block th:case="*">
        <div>Default content...</div>
    </th:block>
</th:block>

<!-- footer -->
<footer th:replace="~{layout/footer::footer}"></footer>

</body>
</html>
