/* 배너관리 */
.banner_title {
    font-size: 18px;
    color: #333333;
}
.bannerinsertbtn {
    background-color: #F2F2F2;
    height: 50px;
    flex-direction: column;
}

.bannerinsertbtn button {
    float: left;
    background-color: #BFBFBF;
    height: 40px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #BFBFBF;
    margin-left: 5px;
}

.bannerinsertbtn button:last-child {
    margin-right: 0;
    /* 마지막 버튼은 오른쪽 간격 없음 */
}

.bannerinsertbtn .on {
    background-color: white;
}