<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" th:href="@{/css/company.css}" />
</head>

<body>

<!-- content -->

<th:block th:switch="${group}">

  <th:block th:case="'story'">
    <th:block th:with="path='/company/story/' + ${cate}, fragment=${cate}">
      <th:replace th:with="path=${path}, fragment=${fragment}"
                  th:replace="~{${path}::${fragment}}"></th:replace>
    </th:block>
  </th:block>


  <th:block th:switch="${group}">
  <th:block th:case="'content'">
    <th:block th:with="path='/company/content/' + ${cate}, fragment=${cate}">
      <th:replace th:with="path=${path}, fragment=${fragment}"
                  th:replace="~{${path}::${fragment}}"></th:replace>
    </th:block>
  </th:block>



</th:block>

<!-- footer -->
<footer th:replace="~{layout/footer1::footer}"></footer>

</body>
</html>