
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--내용 시작-->
<!DOCTYPE html>
<html lang="ko">
<head>
    <header th:replace="~{layout/header::header}"></header>
    <link rel="stylesheet" th:href="@{/css/policy.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LotteON 서비스 이용약관</title>

</head>
<script>
    function toggleContent(element) {
        const content = element.nextElementSibling;
        const button = element.querySelector('.toggle-button');

        if (content.style.display === "none" || content.style.display === "") {
            content.style.display = "block";
            button.innerText = "접기";
        } else {
            content.style.display = "none";
            button.innerText = "펼치기";
        }
    }
</script>

        <body>

        <main>

            <h1>LotteON 서비스 이용약관</h1>

            <div class="terms-tabs">
                <a th:href="@{/policy/buyer}">
                    <img th:src="@{/images/policy/termsicon1.png}" alt="구매자 약관"/>
                </a>
                <a th:href="@{/policy/seller}">
                    <img th:src="@{/images/policy/termsicon2.png}" alt="판매자 약관"/>
                </a>
                <a th:href="@{/policy/finance}">
                    <img th:src="@{/images/policy/termsicon3.png}" alt="전자금융 약관"/>
                </a>
                <a th:href="@{/policy/location}">
                    <img th:src="@{/images/policy/termsicon4.png}" alt="위치정보 약관"/>
                </a>
                <a th:href="@{/policy/privacy}">
                    <img th:src="@{/images/policy/termsicon5.png}" alt="개인정보 처리방침"/>
                </a>

            </div>


            <section class="terms-section">
                <div class="terms-title" onclick="toggleContent(this)">
                    <h3>[[${terms}]]</h3>
                    <span class="toggle-button">펼치기</span>
                </div>
                <div class="terms-content" style="display: none;">
                    <h3>제 1 조 (목적)</h3>
                     <p>[[${termsDetail}]]</p>
            </section>
        </main>

    </body>




    </article>
    </section>
    <!--내용 끝-->
    <footer th:replace="~{layout/footer::footer}"></footer>
    </html>